@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("clash-display.css");

/* FOR DEBUGGING */
/* Check for overflows in the entire application */
/* * {
  outline: 1px solid red;
} */
/* 
html,
body {
  height: 100%;
  margin: 0;
} */
/* Center absolute element to its relative parent */
/* "absolute inset-0 m-auto" */
/* absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 */

/* Hide scrollbar but keep scroll functionality */
/* .scrollbar-hidden::-webkit-scrollbar { */
/* display: none;  Chrome, Safari, Edge */
/* } */
/* .scrollbar-hidden { */
/* -ms-overflow-style: none; IE and Edge */
/* scrollbar-width: none; Firefox */
/* } */
